<a href="https://colab.research.google.com/github/OwenKujo/footballmatchpredict/blob/main/modelpredict.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
matches = pd.read_csv("matches.csv", index_col=0)
matches.head()

matches.shape

(880, 27)

In [3]:
# 2 seasons * 20 squads * 38 matches

2 * 20 * 38

matches["team"].value_counts()

Arsenal                     44
Newcastle United            44
Leicester City              44
West Ham United             44
Aston Villa                 44
Everton                     44
Crystal Palace              44
Wolverhampton Wanderers     44
Manchester City             44
Southampton                 44
Leeds United                44
Brentford                   44
Liverpool                   44
Chelsea                     44
Manchester United           44
Brighton and Hove Albion    44
Tottenham Hotspur           44
Burnley                     38
Watford                     38
Norwich City                38
Fulham                       6
Bournemouth                  6
Nottingham Forest            6
Name: team, dtype: int64

In [4]:
matches[matches["team"] == "Liverpool"].sort_values("date")

,date,time,comp,round,day,venue,result,gf,ga,opponent,...,match report,notes,sh,sot,dist,fk,pk,pkatt,season,team
0,2021-08-14,17:30,Premier League,Matchweek 1,Sat,Away,W,3.0,0.0,Norwich City,...,Match Report,NaN,19.0,6.0,16.4,1.0,0.0,0.0,2021,Liverpool
1,2021-08-21,12:30,Premier League,Matchweek 2,Sat,Home,W,2.0,0.0,Burnley,...,Match Report,NaN,28.0,8.0,15.1,0.0,0.0,0.0,2021,Liverpool
2,2021-08-28,17:30,Premier League,Matchweek 3,Sat,Home,D,1.0,1.0,Chelsea,...,Match Report,NaN,23.0,6.0,14.8,0.0,1.0,1.0,2021,Liverpool
3,2021-09-12,16:30,Premier League,Matchweek 4,Sun,Away,W,3.0,0.0,Leeds United,...,Match Report,NaN,30.0,8.0,14.7,1.0,0.0,0.0,2021,Liverpool
5,2021-09-18,15:00,Premier League,Matchweek 5,Sat,Home,W,3.0,0.0,Crystal Palace,...,Match Report,NaN,25.0,10.0,15.2,0.0,0.0,0.0,2021,Liverpool
7,2021-09-25,17:30,Premier League,Matchweek 6,Sat,Away,D,3.0,3.0,Brentford,...,Match Report,NaN,15.0,4.0,16.2,1.0,0.0,0.0,2021,Liverpool
9,2021-10-03,16:30,Premier League,Matchweek 7,Sun,Home,D,2.0,2.0,Manchester City,...,Match Report,NaN,6.0,3.0,15.2,1.0,0.0,0.0,2021,Liverpool
10,2021-10-16,12:30,Premier League,Matchweek 8,Sat,Away,W,5.0,0.0,Watford,...,Match Report,NaN,19.0,8.0,15.5,0.0,0.0,0.0,2021,Liverpool
12,2021-10-24,16:30,Premier League,Matchweek 9,Sun,Away,W,5.0,0.0,Manchester Utd,...,Match Report,NaN,19.0,8.0,16.0,0.0,0.0,0.0,2021,Liverpool
14,2021-10-30,15:00,Premier League,Matchweek 10,Sat,Home,D,2.0,2.0,Brighton,...,Match Report,NaN,14.0,3.0,19.7,0.0,0.0,0.0,2021,Liverpool
16,2021-11-07,16:30,Premier League,Matchweek 11,Sun,Away,L,2.0,3.0,West Ham,...,Match Report,NaN,16.0,5.0,15.8,0.0,0.0,0.0,2021,Liverpool
17,2021-11-20,17:30,Premier League,Matchweek 12,Sat,Home,W,4.0,0.0,Arsenal,...,Match Report,NaN,19.0,9.0,12.6,0.0,0.0,0.0,2021,Liverpool
19,2021-11-27,15:00,Premier League,Matchweek 13,Sat,Home,W,4.0,0.0,Southampton,...,Match Report,NaN,20.0,6.0,15.3,0.0,0.0,0.0,2021,Liverpool
20,2021-12-01,20:15,Premier League,Matchweek 14,Wed,Away,W,4.0,1.0,Everton,...,Match Report,NaN,16.0,7.0,15.6,1.0,0.0,0.0,2021,Liverpool
21,2021-12-04,15:00,Premier League,Matchweek 15,Sat,Away,W,1.0,0.0,Wolves,...,Match Report,NaN,17.0,4.0,12.8,0.0,0.0,0.0,2021,Liverpool
23,2021-12-11,15:00,Premier League,Matchweek 16,Sat,Home,W,1.0,0.0,Aston Villa,...,Match Report,NaN,20.0,4.0,14.5,0.0,1.0,1.0,2021,Liverpool
24,2021-12-16,20:00,Premier League,Matchweek 17,Thu,Home,W,3.0,1.0,Newcastle Utd,...,Match Report,NaN,23.0,8.0,15.3,0.0,0.0,0.0,2021,Liverpool
25,2021-12-19,16:30,Premier League,Matchweek 18,Sun,Away,D,2.0,2.0,Tottenham,...,Match Report,NaN,18.0,6.0,16.1,0.0,0.0,0.0,2021,Liverpool
27,2021-12-28,20:00,Premier League,Matchweek 20,Tue,Away,L,0.0,1.0,Leicester City,...,Match Report,NaN,20.0,3.0,13.6,0.0,0.0,1.0,2021,Liverpool
28,2022-01-02,16:30,Premier League,Matchweek 21,Sun,Away,D,2.0,2.0,Chelsea,...,Match Report,NaN,10.0,5.0,17.2,0.0,0.0,0.0,2021,Liverpool
31,2022-01-16,14:00,Premier League,Matchweek 22,Sun,Home,W,3.0,0.0,Brentford,...,Match Report,NaN,27.0,13.0,15.9,0.0,0.0,0.0,2021,Liverpool
33,2022-01-23,14:00,Premier League,Matchweek 23,Sun,Away,W,3.0,1.0,Crystal Palace,...,Match Report,NaN,13.0,6.0,21.8,0.0,1.0,1.0,2021,Liverpool
35,2022-02-10,19:45,Premier League,Matchweek 24,Thu,Home,W,2.0,0.0,Leicester City,...,Match Report,NaN,22.0,12.0,14.7,0.0,0.0,0.0,2021,Liverpool
36,2022-02-13,14:00,Premier League,Matchweek 25,Sun,Away,W,1.0,0.0,Burnley,...,Match Report,NaN,12.0,4.0,14.0,0.0,0.0,0.0,2021,Liverpool
38,2022-02-19,15:00,Premier League,Matchweek 26,Sat,Home,W,3.0,1.0,Norwich City,...,Match Report,NaN,29.0,7.0,17.4,0.0,0.0,0.0,2021,Liverpool
39,2022-02-23,19:45,Premier League,Matchweek 19,Wed,Home,W,6.0,0.0,Leeds United,...,Match Report,NaN,21.0,12.0,17.2,0.0,2.0,2.0,2021,Liverpool
42,2022-03-05,17:30,Premier League,Matchweek 28,Sat,Home,W,1.0,0.0,West Ham,...,Match Report,NaN,22.0,5.0,18.0,0.0,0.0,0.0,2021,Liverpool
44,2022-03-12,12:30,Premier League,Matchweek 29,Sat,Away,W,2.0,0.0,Brighton,...,Match Report,NaN,17.0,8.0,15.0,0.0,1.0,1.0,2021,Liverpool
45,2022-03-16,20:15,Premier League,Matchweek 27,Wed,Away,W,2.0,0.0,Arsenal,...,Match Report,NaN,9.0,3.0,13.7,0.0,0.0,0.0,2021,Liverpool
47,2022-04-02,12:30,Premier League,Matchweek 31,Sat,Home,W,2.0,0.0,Watford,...,Match Report,NaN,19.0,2.0,18.4,0.0,1.0,1.0,2021,Liverpool
49,2022-04-10,16:30,Premier League,Matchweek 32,Sun,Away,D,2.0,2.0,Manchester City,...,Match Report,NaN,6.0,4.0,23.5,0.0,0.0,0.0,2021,Liverpool
52,2022-04-19,20:00,Premier League,Matchweek 30,Tue,Home,W,4.0,0.0,Manchester Utd,...,Match Report,NaN,14.0,5.0,14.8,0.0,0.0,0.0,2021,Liverpool
53,2022-04-24,16:30,Premier League,Matchweek 34,Sun,Home,W,2.0,0.0,Everton,...,Match Report,NaN,18.0,4.0,15.1,0.0,0.0,0.0,2021,Liverpool
55,2022-04-30,12:30,Premier League,Matchweek 35,Sat,Away,W,1.0,0.0,Newcastle Utd,...,Match Report,NaN,24.0,11.0,17.4,2.0,0.0,0.0,2021,Liverpool
57,2022-05-07,19:45,Premier League,Matchweek 36,Sat,Home,D,1.0,1.0,Tottenham,...,Match Report,NaN,22.0,3.0,18.6,0.0,0.0,0.0,2021,Liverpool
58,2022-05-10,20:00,Premier League,Matchweek 33,Tue,Away,W,2.0,1.0,Aston Villa,...,Match Report,NaN,17.0,5.0,15.4,2.0,0.0,0.0,2021,Liverpool
60,2022-05-17,19:45,Premier League,Matchweek 37,Tue,Away,W,2.0,1.0,Southampton,...,Match Report,NaN,24.0,5.0,17.5,0.0,0.0,0.0,2021,Liverpool
61,2022-05-22,16:00,Premier League,Matchweek 38,Sun,Home,W,3.0,1.0,Wolves,...,Match Report,NaN,29.0,7.0,15.2,0.0,0.0,0.0,2021,Liverpool
1,2022-08-06,12:30,Premier League,Matchweek 1,Sat,Away,D,2.0,2.0,Fulham,...,Match Report,NaN,11.0,3.0,11.8,0.0,0.0,0.0,2022,Liverpool
2,2022-08-15,20:00,Premier League,Matchweek 2,Mon,Home,D,1.0,1.0,Crystal Palace,...,Match Report,NaN,24.0,4.0,17.1,0.0,0.0,0.0,2022,Liverpool
3,2022-08-22,20:00,Premier League,Matchweek 3,Mon,Away,L,1.0,2.0,Manchester Utd,...,Match Report,NaN,17.0,5.0,14.5,0.0,0.0,0.0,2022,Liverpool
4,2022-08-27,15:00,Premier League,Matchweek 4,Sat,Home,W,9.0,0.0,Bournemouth,...,Match Report,NaN,19.0,12.0,10.8,0.0,0.0,0.0,2022,Liverpool
5,2022-08-31,20:00,Premier League,Matchweek 5,Wed,Home,W,2.0,1.0,Newcastle Utd,...,Match Report,NaN,23.0,6.0,17.4,0.0,0.0,0.0,2022,Liverpool
6,2022-09-03,12:30,Premier League,Matchweek 6,Sat,Away,D,0.0,0.0,Everton,...,Match Report,NaN,24.0,9.0,12.3,0.0,0.0,0.0,2022,Liverpool

In [5]:
matches["round"].value_counts()

Matchweek 1     40
Matchweek 3     40
Matchweek 4     40
Matchweek 5     40
Matchweek 6     40
Matchweek 2     40
Matchweek 31    20
Matchweek 25    20
Matchweek 26    20
Matchweek 27    20
Matchweek 28    20
Matchweek 29    20
Matchweek 34    20
Matchweek 32    20
Matchweek 30    20
Matchweek 23    20
Matchweek 35    20
Matchweek 36    20
Matchweek 33    20
Matchweek 37    20
Matchweek 24    20
Matchweek 20    20
Matchweek 22    20
Matchweek 21    20
Matchweek 19    20
Matchweek 18    20
Matchweek 17    20
Matchweek 16    20
Matchweek 15    20
Matchweek 14    20
Matchweek 13    20
Matchweek 12    20
Matchweek 11    20
Matchweek 10    20
Matchweek 9     20
Matchweek 8     20
Matchweek 7     20
Matchweek 38    20
Name: round, dtype: int64

In [6]:
matches.dtypes

date             object
time             object
comp             object
round            object
day              object
venue            object
result           object
gf              float64
ga              float64
opponent         object
xg              float64
xga             float64
poss            float64
attendance      float64
captain          object
formation        object
referee          object
match report     object
notes           float64
sh              float64
sot             float64
dist            float64
fk              float64
pk              float64
pkatt           float64
season            int64
team             object
dtype: object

In [7]:
del matches["comp"]
del matches["notes"]
matches["date"] = pd.to_datetime(matches["date"])
matches["target"] = (matches["result"] == "W").astype("int")
matches

,date,time,round,day,venue,result,gf,ga,opponent,xg,...,match report,sh,sot,dist,fk,pk,pkatt,season,team,target
0,2022-08-05,20:00,Matchweek 1,Fri,Away,W,2.0,0.0,Crystal Palace,1.0,...,Match Report,10.0,2.0,15.0,1.0,0.0,0.0,2022,Arsenal,1
1,2022-08-13,15:00,Matchweek 2,Sat,Home,W,4.0,2.0,Leicester City,2.6,...,Match Report,19.0,7.0,12.6,0.0,0.0,0.0,2022,Arsenal,1
2,2022-08-20,17:30,Matchweek 3,Sat,Away,W,3.0,0.0,Bournemouth,1.8,...,Match Report,14.0,6.0,14.6,0.0,0.0,0.0,2022,Arsenal,1
3,2022-08-27,17:30,Matchweek 4,Sat,Home,W,2.0,1.0,Fulham,2.4,...,Match Report,23.0,8.0,16.6,1.0,0.0,0.0,2022,Arsenal,1
4,2022-08-31,19:30,Matchweek 5,Wed,Home,W,2.0,1.0,Aston Villa,2.7,...,Match Report,22.0,8.0,15.3,1.0,0.0,0.0,2022,Arsenal,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38,2022-04-30,15:00,Matchweek 35,Sat,Away,L,0.0,2.0,Aston Villa,0.6,...,Match Report,10.0,3.0,20.7,0.0,0.0,0.0,2021,Norwich City,0
39,2022-05-08,14:00,Matchweek 36,Sun,Home,L,0.0,4.0,West Ham,0.7,...,Match Report,8.0,2.0,21.5,1.0,0.0,0.0,2021,Norwich City,0
40,2022-05-11,19:45,Matchweek 21,Wed,Away,L,0.0,3.0,Leicester City,1.2,...,Match Report,9.0,5.0,16.2,0.0,0.0,0.0,2021,Norwich City,0
41,2022-05-15,14:00,Matchweek 37,Sun,Away,D,1.0,1.0,Wolves,1.3,...,Match Report,11.0,2.0,13.4,0.0,0.0,0.0,2021,Norwich City,0
42,2022-05-22,16:00,Matchweek 38,Sun,Home,L,0.0,5.0,Tottenham,0.3,...,Match Report,9.0,0.0,17.1,0.0,0.0,0.0,2021,Norwich City,0

In [8]:
matches["venue_code"] = matches["venue"].astype("category").cat.codes
matches["opp_code"] = matches["opponent"].astype("category").cat.codes
matches["hour"] = matches["time"].str.replace(":.+", "", regex=True).astype("int")
matches["day_code"] = matches["date"].dt.dayofweek
matches

,date,time,round,day,venue,result,gf,ga,opponent,xg,...,fk,pk,pkatt,season,team,target,venue_code,opp_code,hour,day_code
0,2022-08-05,20:00,Matchweek 1,Fri,Away,W,2.0,0.0,Crystal Palace,1.0,...,1.0,0.0,0.0,2022,Arsenal,1,0,7,20,4
1,2022-08-13,15:00,Matchweek 2,Sat,Home,W,4.0,2.0,Leicester City,2.6,...,0.0,0.0,0.0,2022,Arsenal,1,1,11,15,5
2,2022-08-20,17:30,Matchweek 3,Sat,Away,W,3.0,0.0,Bournemouth,1.8,...,0.0,0.0,0.0,2022,Arsenal,1,0,2,17,5
3,2022-08-27,17:30,Matchweek 4,Sat,Home,W,2.0,1.0,Fulham,2.4,...,1.0,0.0,0.0,2022,Arsenal,1,1,9,17,5
4,2022-08-31,19:30,Matchweek 5,Wed,Home,W,2.0,1.0,Aston Villa,2.7,...,1.0,0.0,0.0,2022,Arsenal,1,1,1,19,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38,2022-04-30,15:00,Matchweek 35,Sat,Away,L,0.0,2.0,Aston Villa,0.6,...,0.0,0.0,0.0,2021,Norwich City,0,0,1,15,5
39,2022-05-08,14:00,Matchweek 36,Sun,Home,L,0.0,4.0,West Ham,0.7,...,1.0,0.0,0.0,2021,Norwich City,0,1,21,14,6
40,2022-05-11,19:45,Matchweek 21,Wed,Away,L,0.0,3.0,Leicester City,1.2,...,0.0,0.0,0.0,2021,Norwich City,0,0,11,19,2
41,2022-05-15,14:00,Matchweek 37,Sun,Away,D,1.0,1.0,Wolves,1.3,...,0.0,0.0,0.0,2021,Norwich City,0,0,22,14,6
42,2022-05-22,16:00,Matchweek 38,Sun,Home,L,0.0,5.0,Tottenham,0.3,...,0.0,0.0,0.0,2021,Norwich City,0,1,19,16,6

In [9]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=50, min_samples_split=10, random_state=1)
train = matches[matches["date"] < '2022-01-01']
test = matches[matches["date"] > '2022-01-01']
predictors = ["venue_code", "opp_code", "hour", "day_code"]
rf.fit(train[predictors], train["target"])
RandomForestClassifier(min_samples_split=10, n_estimators=50, random_state=1)
preds = rf.predict(test[predictors])
from sklearn.metrics import accuracy_score
error = accuracy_score(test["target"], preds)
error
0.6123188405797102
combined = pd.DataFrame(dict(actual=test["target"], predicted=preds))
pd.crosstab(index=combined["actual"], columns=combined["predicted"])

predicted    0   1
actual
0          242  69
1          135  62

In [10]:
from sklearn.metrics import precision_score

precision_score(test["target"], preds)
0.4745762711864407
grouped_matches = matches.groupby("team")
group = grouped_matches.get_group("Manchester City").sort_values("date")
def rolling_averages(group, cols, new_cols):
    group = group.sort_values("date")
    rolling_stats = group[cols].rolling(3, closed='left').mean()
    group[new_cols] = rolling_stats
    group = group.dropna(subset=new_cols)
    return group
cols = ["gf", "ga", "sh", "sot", "dist", "fk", "pk", "pkatt"]
new_cols = [f"{c}_rolling" for c in cols]

rolling_averages(group, cols, new_cols)

,date,time,round,day,venue,result,gf,ga,opponent,xg,...,hour,day_code,gf_rolling,ga_rolling,sh_rolling,sot_rolling,dist_rolling,fk_rolling,pk_rolling,pkatt_rolling
4,2021-09-11,15:00,Matchweek 4,Sat,Away,W,1.0,0.0,Leicester City,2.9,...,15,5,3.333333,0.333333,19.666667,6.000000,16.166667,0.666667,0.000000,0.000000
6,2021-09-18,15:00,Matchweek 5,Sat,Home,D,0.0,0.0,Southampton,1.1,...,15,5,3.666667,0.000000,22.000000,7.333333,15.200000,0.333333,0.000000,0.000000
8,2021-09-25,12:30,Matchweek 6,Sat,Away,W,1.0,0.0,Chelsea,1.7,...,12,5,2.000000,0.000000,22.000000,6.333333,14.666667,0.333333,0.000000,0.000000
10,2021-10-03,16:30,Matchweek 7,Sun,Away,D,2.0,2.0,Liverpool,1.2,...,16,6,0.666667,0.000000,18.666667,4.000000,15.400000,0.333333,0.000000,0.000000
11,2021-10-16,15:00,Matchweek 8,Sat,Home,W,2.0,0.0,Burnley,1.9,...,15,5,1.000000,0.666667,14.333333,2.333333,16.333333,0.666667,0.000000,0.000000
13,2021-10-23,17:30,Matchweek 9,Sat,Away,W,4.0,1.0,Brighton,3.9,...,17,5,1.666667,0.666667,14.333333,4.000000,15.966667,0.333333,0.000000,0.000000
15,2021-10-30,15:00,Matchweek 10,Sat,Home,L,0.0,2.0,Crystal Palace,1.1,...,15,5,2.666667,1.000000,17.000000,7.333333,15.700000,0.666667,0.000000,0.000000
17,2021-11-06,12:30,Matchweek 11,Sat,Away,W,2.0,0.0,Manchester Utd,2.0,...,12,5,2.000000,1.000000,17.666667,7.333333,15.766667,0.333333,0.000000,0.000000
18,2021-11-21,14:00,Matchweek 12,Sun,Home,W,3.0,0.0,Everton,2.3,...,14,6,2.000000,1.000000,17.666667,7.000000,15.766667,0.333333,0.000000,0.000000
20,2021-11-28,14:00,Matchweek 13,Sun,Home,W,2.0,1.0,West Ham,2.1,...,14,6,1.666667,0.666667,15.666667,5.000000,15.666667,0.333333,0.000000,0.000000
21,2021-12-01,20:15,Matchweek 14,Wed,Away,W,2.0,1.0,Aston Villa,0.9,...,20,2,2.333333,0.333333,17.333333,6.666667,14.933333,0.333333,0.000000,0.000000
22,2021-12-04,17:30,Matchweek 15,Sat,Away,W,3.0,1.0,Watford,3.2,...,17,5,2.333333,0.666667,17.666667,7.333333,16.400000,0.666667,0.000000,0.000000
24,2021-12-11,12:30,Matchweek 16,Sat,Home,W,1.0,0.0,Wolves,3.5,...,12,5,2.333333,1.000000,20.666667,9.000000,15.933333,0.333333,0.000000,0.000000
25,2021-12-14,20:00,Matchweek 17,Tue,Home,W,7.0,0.0,Leeds United,3.6,...,20,1,2.000000,0.666667,22.000000,9.000000,16.066667,0.333333,0.333333,0.333333
26,2021-12-19,14:15,Matchweek 18,Sun,Away,W,4.0,0.0,Newcastle Utd,3.1,...,14,6,3.666667,0.333333,26.666667,11.666667,15.133333,0.666667,0.333333,0.333333
27,2021-12-26,15:00,Matchweek 19,Sun,Home,W,6.0,3.0,Leicester City,3.4,...,15,6,4.000000,0.000000,24.000000,10.000000,14.400000,0.666667,0.333333,0.333333
28,2021-12-29,20:15,Matchweek 20,Wed,Away,W,1.0,0.0,Brentford,0.8,...,20,2,5.666667,1.000000,21.333333,9.333333,14.866667,1.000000,0.666667,0.666667
29,2022-01-01,12:30,Matchweek 21,Sat,Away,W,2.0,1.0,Arsenal,1.6,...,12,5,3.666667,1.000000,15.000000,5.666667,15.700000,0.333333,0.666667,0.666667
31,2022-01-15,12:30,Matchweek 22,Sat,Home,W,1.0,0.0,Chelsea,0.7,...,12,5,3.000000,1.333333,13.666667,3.666667,17.900000,0.333333,1.000000,1.000000
32,2022-01-22,17:30,Matchweek 23,Sat,Away,D,1.0,1.0,Southampton,1.6,...,17,5,1.333333,0.333333,12.333333,3.666667,17.933333,0.333333,0.333333,0.333333
34,2022-02-09,19:45,Matchweek 24,Wed,Home,W,2.0,0.0,Brentford,2.0,...,19,2,1.333333,0.666667,15.000000,4.000000,17.200000,0.333333,0.333333,0.333333
35,2022-02-12,17:30,Matchweek 25,Sat,Away,W,4.0,0.0,Norwich City,4.6,...,17,5,1.333333,0.333333,15.000000,5.666667,17.333333,0.333333,0.333333,0.333333
37,2022-02-19,17:30,Matchweek 26,Sat,Home,L,2.0,3.0,Tottenham,2.1,...,17,5,2.333333,0.333333,18.333333,6.333333,15.633333,0.000000,0.333333,0.666667
38,2022-02-26,17:30,Matchweek 27,Sat,Away,W,1.0,0.0,Everton,1.6,...,17,5,2.666667,1.000000,18.333333,5.666667,15.333333,0.000000,0.666667,1.000000
40,2022-03-06,16:30,Matchweek 28,Sun,Home,W,4.0,1.0,Manchester Utd,2.6,...,16,6,2.333333,1.000000,18.000000,6.333333,14.300000,0.000000,0.333333,0.666667
42,2022-03-14,20:00,Matchweek 29,Mon,Away,D,0.0,0.0,Crystal Palace,2.3,...,20,0,2.333333,1.333333,19.000000,7.000000,15.366667,0.333333,0.333333,0.333333
44,2022-04-02,15:00,Matchweek 31,Sat,Away,W,2.0,0.0,Burnley,1.8,...,15,5,1.666667,0.333333,18.333333,7.333333,16.000000,0.333333,0.000000,0.000000
46,2022-04-10,16:30,Matchweek 32,Sun,Home,D,2.0,2.0,Liverpool,2.0,...,16,6,2.000000,0.333333,20.000000,6.666667,16.133333,0.333333,0.000000,0.000000
49,2022-04-20,20:00,Matchweek 30,Wed,Home,W,3.0,0.0,Brighton,1.1,...,20,2,1.333333,0.666667,15.666667,4.666667,16.700000,0.333333,0.000000,0.000000
50,2022-04-23,15:00,Matchweek 34,Sat,Home,W,5.0,1.0,Watford,3.0,...,15,5,2.333333,0.666667,15.333333,5.000000,17.200000,0.333333,0.000000,0.000000
52,2022-04-30,17:30,Matchweek 35,Sat,Away,W,4.0,0.0,Leeds United,2.7,...,17,5,3.333333,1.000000,16.000000,5.333333,16.700000,0.333333,0.333333,0.333333
54,2022-05-08,16:30,Matchweek 36,Sun,Home,W,5.0,0.0,Newcastle Utd,3.1,...,16,6,4.000000,0.333333,18.666667,6.000000,16.333333,0.000000,0.333333,0.333333
55,2022-05-11,20:15,Matchweek 33,Wed,Away,W,5.0,1.0,Wolves,3.1,...,20,2,4.666667,0.333333,20.000000,7.333333,15.166667,0.333333,0.333333,0.333333
56,2022-05-15,14:00,Matchweek 37,Sun,Away,D,2.0,2.0,West Ham,2.5,...,14,6,4.666667,0.333333,18.333333,6.666667,14.933333,0.333333,0.000000,0.000000
57,2022-05-22,16:00,Matchweek 38,Sun,Home,W,3.0,2.0,Aston Villa,2.9,...,16,6,4.000000,1.000000,22.000000,7.000000,15.700000,1.000000,0.000000,0.333333
1,2022-08-07,16:30,Matchweek 1,Sun,Away,W,2.0,0.0,West Ham,2.3,...,16,6,3.333333,1.666667,23.000000,5.666667,15.200000,1.000000,0.000000,0.333333
2,2022-08-13,15:00,Matchweek 2,Sat,Home,W,4.0,0.0,Bournemouth,1.6,...,15,5,2.333333,1.333333,22.333333,4.333333,16.633333,1.333333,0.333333,0.666667
3,2022-08-21,16:30,Matchweek 3,Sun,Away,D,3.0,3.0,Newcastle Utd,2.7,...,16,6,3.000000,0.666667,19.000000,4.333333,15.933333,0.666667,0.333333,0.333333
4,2022-08-27,15:00,Matchweek 4,Sat,Home,W,4.0,2.0,Crystal Palace,2.5,...,15,5,3.000000,1.000000,18.333333,6.000000,16.300000,0.666667,0.333333,0.333333
5,2022-08-31,19:30,Matchweek 5,Wed,Home,W,6.0,0.0,Nott'ham Forest,3.7,...,19,2,3.666667,1.666667,20.000000,7.333333,14.600000,0.333333,0.000000,0.000000
6,2022-09-03,17:30,Matchweek 6,Sat,Away,D,1.0,1.0,Aston Villa,1.4,...,17,5,4.333333,1.666667,19.000000,8.000000,14.100000,0.333333,0.000000,0.000000

Warning: Total number of columns (38) exceeds max_columns (20) limiting to first (20) columns.

In [11]:
matches_rolling = matches.groupby("team").apply(lambda x: rolling_averages(x, cols, new_cols))
matches_rolling

                                date   time        round  day venue result  \
team
Arsenal                 4 2021-09-11  15:00  Matchweek 4  Sat  Home      W
                        5 2021-09-18  15:00  Matchweek 5  Sat  Away      W
                        7 2021-09-26  16:30  Matchweek 6  Sun  Home      W
                        8 2021-10-02  17:30  Matchweek 7  Sat  Away      D
                        9 2021-10-18  20:00  Matchweek 8  Mon  Home      D
...                              ...    ...          ...  ...   ...    ...
Wolverhampton Wanderers 1 2022-08-13  15:00  Matchweek 2  Sat  Home      D
                        2 2022-08-20  12:30  Matchweek 3  Sat  Away      L
                        4 2022-08-28  14:00  Matchweek 4  Sun  Home      D
                        5 2022-08-31  19:30  Matchweek 5  Wed  Away      D
                        6 2022-09-03  15:00  Matchweek 6  Sat  Home      W

                            gf   ga        opponent   xg  ...  hour  day_code  \
team                                                      ...
Arsenal                 4  1.0  0.0    Norwich City  2.8  ...    15         5
                        5  1.0  0.0         Burnley  1.2  ...    15         5
                        7  3.0  1.0       Tottenham  0.8  ...    16         6
                        8  0.0  0.0        Brighton  0.5  ...    17         5
                        9  2.0  2.0  Crystal Palace  1.4  ...    20         0
...                        ...  ...             ...  ...  ...   ...       ...
Wolverhampton Wanderers 1  0.0  0.0          Fulham  0.7  ...    15         5
                        2  0.0  1.0       Tottenham  0.8  ...    12         5
                        4  1.0  1.0   Newcastle Utd  0.8  ...    14         6
                        5  0.0  0.0     Bournemouth  1.5  ...    19         2
                        6  1.0  0.0     Southampton  0.7  ...    15         5

                           gf_rolling ga_rolling sh_rolling sot_rolling  \
team
Arsenal                 4    0.000000   3.000000   9.666667    2.333333
                        5    0.333333   2.333333  12.333333    3.000000
                        7    0.666667   1.666667  14.666667    3.000000
                        8    1.666667   0.333333  18.333333    5.333333
                        9    1.333333   0.333333  11.000000    4.000000
...                               ...        ...        ...         ...
Wolverhampton Wanderers 1    1.000000   2.000000  13.000000    5.000000
                        2    0.666667   1.666667   9.666667    4.000000
                        4    0.333333   1.000000  14.000000    3.333333
                        5    0.333333   0.666667  12.333333    2.666667
                        6    0.333333   0.666667  15.666667    3.333333

                          dist_rolling  fk_rolling  pk_rolling  pkatt_rolling
team
Arsenal                 4    14.600000    0.333333         0.0            0.0
                        5    13.866667    0.333333         0.0            0.0
                        7    14.766667    0.666667         0.0            0.0
                        8    18.000000    0.666667         0.0            0.0
                        9    18.966667    0.666667         0.0            0.0
...                                ...         ...         ...            ...
Wolverhampton Wanderers 1    17.666667    0.666667         0.0            0.0
                        2    17.333333    0.333333         0.0            0.0
                        4    19.333333    0.666667         0.0            0.0
                        5    19.600000    1.000000         0.0            0.0
                        6    19.066667    1.000000         0.0            0.0

[811 rows x 38 columns]

Warning: Total number of columns (38) exceeds max_columns (20) limiting to first (20) columns.

In [12]:
matches_rolling = matches_rolling.droplevel('team')
matches_rolling

,date,time,round,day,venue,result,gf,ga,opponent,xg,...,hour,day_code,gf_rolling,ga_rolling,sh_rolling,sot_rolling,dist_rolling,fk_rolling,pk_rolling,pkatt_rolling
4,2021-09-11,15:00,Matchweek 4,Sat,Home,W,1.0,0.0,Norwich City,2.8,...,15,5,0.000000,3.000000,9.666667,2.333333,14.600000,0.333333,0.0,0.0
5,2021-09-18,15:00,Matchweek 5,Sat,Away,W,1.0,0.0,Burnley,1.2,...,15,5,0.333333,2.333333,12.333333,3.000000,13.866667,0.333333,0.0,0.0
7,2021-09-26,16:30,Matchweek 6,Sun,Home,W,3.0,1.0,Tottenham,0.8,...,16,6,0.666667,1.666667,14.666667,3.000000,14.766667,0.666667,0.0,0.0
8,2021-10-02,17:30,Matchweek 7,Sat,Away,D,0.0,0.0,Brighton,0.5,...,17,5,1.666667,0.333333,18.333333,5.333333,18.000000,0.666667,0.0,0.0
9,2021-10-18,20:00,Matchweek 8,Mon,Home,D,2.0,2.0,Crystal Palace,1.4,...,20,0,1.333333,0.333333,11.000000,4.000000,18.966667,0.666667,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1,2022-08-13,15:00,Matchweek 2,Sat,Home,D,0.0,0.0,Fulham,0.7,...,15,5,1.000000,2.000000,13.000000,5.000000,17.666667,0.666667,0.0,0.0
2,2022-08-20,12:30,Matchweek 3,Sat,Away,L,0.0,1.0,Tottenham,0.8,...,12,5,0.666667,1.666667,9.666667,4.000000,17.333333,0.333333,0.0,0.0
4,2022-08-28,14:00,Matchweek 4,Sun,Home,D,1.0,1.0,Newcastle Utd,0.8,...,14,6,0.333333,1.000000,14.000000,3.333333,19.333333,0.666667,0.0,0.0
5,2022-08-31,19:30,Matchweek 5,Wed,Away,D,0.0,0.0,Bournemouth,1.5,...,19,2,0.333333,0.666667,12.333333,2.666667,19.600000,1.000000,0.0,0.0
6,2022-09-03,15:00,Matchweek 6,Sat,Home,W,1.0,0.0,Southampton,0.7,...,15,5,0.333333,0.666667,15.666667,3.333333,19.066667,1.000000,0.0,0.0

Warning: Total number of columns (38) exceeds max_columns (20) limiting to first (20) columns.

In [13]:
matches_rolling.index = range(matches_rolling.shape[0])
def make_predictions(data, predictors):
    train = data[data["date"] < '2022-01-01']
    test = data[data["date"] > '2022-01-01']
    rf.fit(train[predictors], train["target"])
    preds = rf.predict(test[predictors])
    combined = pd.DataFrame(dict(actual=test["target"], predicted=preds), index=test.index)
    error = precision_score(test["target"], preds)
    return combined, error
combined, error = make_predictions(matches_rolling, predictors + new_cols)
error
0.625
combined = combined.merge(matches_rolling[["date", "team", "opponent", "result"]], left_index=True, right_index=True)
combined.head(10)

    actual  predicted       date     team        opponent result
17       0          0 2022-01-23  Arsenal         Burnley      D
18       1          0 2022-02-10  Arsenal          Wolves      W
19       1          0 2022-02-19  Arsenal       Brentford      W
20       1          0 2022-02-24  Arsenal          Wolves      W
21       1          1 2022-03-06  Arsenal         Watford      W
22       1          1 2022-03-13  Arsenal  Leicester City      W
23       0          1 2022-03-16  Arsenal       Liverpool      L
24       1          0 2022-03-19  Arsenal     Aston Villa      W
25       0          0 2022-04-04  Arsenal  Crystal Palace      L
26       0          0 2022-04-09  Arsenal        Brighton      L

In [14]:
class MissingDict(dict):
    __missing__ = lambda self, key: key

map_values = {"Brighton and Hove Albion": "Brighton", "Manchester United": "Manchester Utd", "Newcastle United": "Newcastle Utd", "Tottenham Hotspur": "Tottenham", "West Ham United": "West Ham", "Wolverhampton Wanderers": "Wolves"} 
mapping = MissingDict(**map_values)
combined["new_team"] = combined["team"].map(mapping)
merged = combined.merge(combined, left_on=["date", "new_team"], right_on=["date", "opponent"])
merged

,actual_x,predicted_x,date,team_x,opponent_x,result_x,new_team_x,actual_y,predicted_y,team_y,opponent_y,result_y,new_team_y
0,0,0,2022-01-23,Arsenal,Burnley,D,Arsenal,0,0,Burnley,Arsenal,D,Burnley
1,1,0,2022-02-10,Arsenal,Wolves,W,Arsenal,0,0,Wolverhampton Wanderers,Arsenal,L,Wolves
2,1,0,2022-02-19,Arsenal,Brentford,W,Arsenal,0,0,Brentford,Arsenal,L,Brentford
3,1,0,2022-02-24,Arsenal,Wolves,W,Arsenal,0,0,Wolverhampton Wanderers,Arsenal,L,Wolves
4,1,1,2022-03-06,Arsenal,Watford,W,Arsenal,0,0,Watford,Arsenal,L,Watford
...,...,...,...,...,...,...,...,...,...,...,...,...,...
482,0,0,2022-08-06,Wolverhampton Wanderers,Leeds United,L,Wolves,1,0,Leeds United,Wolves,W,Leeds United
483,0,1,2022-08-20,Wolverhampton Wanderers,Tottenham,L,Wolves,1,1,Tottenham Hotspur,Wolves,W,Tottenham
484,0,0,2022-08-28,Wolverhampton Wanderers,Newcastle Utd,D,Wolves,0,0,Newcastle United,Wolves,D,Newcastle Utd
485,0,0,2022-08-31,Wolverhampton Wanderers,Bournemouth,D,Wolves,0,0,Bournemouth,Wolves,D,Bournemouth
486,1,0,2022-09-03,Wolverhampton Wanderers,Southampton,W,Wolves,0,0,Southampton,Wolves,L,Southampton

In [15]:
merged[(merged["predicted_x"] == 1) & (merged["predicted_y"] ==0)]["actual_x"].value_counts()

1    52
0    42
Name: actual_x, dtype: int64